<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MedicaAqui – Medicamentos</title>
    <link rel="stylesheet" href="../css/dash_admin_farmacia.css" />
</head>

<body>
    <aside class="sidebar">
        <div class="brand">
            <img class="logo" src="../img/logo_azul.png" alt="Ilustracion">
        </div>

        <div class="profile">
            <div class="avatar" aria-hidden="true"></div>
            <div class="profile__name">Brad Pitt</div>
            <div class="profile__role">Admin</div>
        </div>

        <nav class="menu">
            <a class="menu__item" href="#"><span><img class="icon-2" src="../img/pasti.png" alt=""></span><b>Medicamentos</b></a>
            <a class="menu__item" href="#"><span><img class="icon-2" src="../img/acerca.png" alt=""></span><b>Acerca de</b></a>
            <a class="menu__item" href="#"><span><img class="icon-2" src="../img/ayuda.png" alt=""></span><b>Ayuda</b></a>
            <a class="menu__item" href="#"><span><img class="icon-2" src="../img/ajuste.png" alt=""></span><b>Ajustes</b></a>
        </nav>

        <a class="logout" href="#">Cerrar sesión <span><img class="icon-2" src="../img/logout.png" alt=""></span></a>
    </aside>

    <div class="main">
        <header class="topbar">
            <form class="search" onsubmit="return false">
                <input class="search__input" placeholder="Buscar…" />
                <button class="search__btn" type="submit"><img class="icon-search" src="../img/search.png" alt=""></button>
            </form>

            <div class="topbar__actions">
                <button class="sort" title="Ordenar"><img class="scroll" src="../img/scroll-2.png" alt=""></button>
                <button class="btn"><a href="../crear_medicamento/index.html">Agregar Medicamento</a></button>
            </div>
        </header>

        <section class="content">
            <div class="content__head">
                <h2>Medicamentos</h2>
            </div>

            <div class="row row--head">
                <div>Nombre</div>
                <div>Cantidad</div>
                <div>Descripción</div>
                <div>Fecha de creación</div>
                <div class="right"></div>
            </div>


            <article class="row">
                <div class="cell">Acetaminofen</div>
                <div class="cell">200</div>
                <div class="cell">Medicamento para ser guapo</div>
                <div class="cell">7-22-2025</div>
                <div class="cell right">
                    <button class="icon" title="Editar"><img class="icons-crud" src="../img/lapiz.png" alt=""></button>
                    <button class="icon" title="Eliminar"><img class="icons-crud" src="../img/basura.png" alt=""></button>
                </div>
            </article>

            <article class="row">
                <div class="cell">Ibuprofeno</div>
                <div class="cell">200</div>
                <div class="cell">Quitar el dolor de cabeza</div>
                <div class="cell">7-22-2025</div>
                <div class="cell right">
                    <button class="icon" title="Editar"><img class="icons-crud" src="../img/lapiz.png" alt=""></button>
                    <button class="icon" title="Eliminar"><img class="icons-crud" src="../img/basura.png" alt=""></button>
                </div>
            </article>

            <article class="row">
                <div class="cell">Acetaminofen</div>
                <div class="cell">200</div>
                <div class="cell">Medicamento para ser guapo</div>
                <div class="cell">7-22-2025</div>
                <div class="cell right">
                    <button class="icon" title="Editar"><img class="icons-crud" src="../img/lapiz.png" alt=""></button>
                    <button class="icon" title="Eliminar"><img class="icons-crud" src="../img/basura.png" alt=""></button>
                </div>
            </article>

            <article class="row">
                <div class="cell">Ibuprofeno</div>
                <div class="cell">200</div>
                <div class="cell">Quitar el dolor de cabeza</div>
                <div class="cell">7-22-2025</div>
                <div class="cell right">
                    <button class="icon" title="Editar"><img class="icons-crud" src="../img/lapiz.png" alt=""></button>
                    <button class="icon" title="Eliminar"><img class="icons-crud" src="../img/basura.png" alt=""></button>
                </div>
            </article>
        </section>
    </div>
</body>

</html>