:root{
  --panel:#355a86;
  --panel-2:#2a4a70;
  --bg:#ffffff;
  --text:#0f172a;
  --muted:#e2e8f0;
  --brand:#8df3e3;
  --cta:#7a58ff;
  --cta-700:#6a4af1;
  --shadow:0 12px 28px rgba(2,6,23,.18);
  --radius:16px;
}
*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  font-family:Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color:var(--text);
  background:var(--bg);
}
.logo{
    width: 400px; margin-bottom: .6rem;;
}
.layout{
  min-height:100vh;
  display:grid; grid-template-columns: 44% 56%;
}
.left{
  background:var(--panel);
  color:#e6f0ff;
  display:grid; align-content:center; justify-items:center;
  text-align:center; padding:2rem 1rem;
}
.brand{display:flex; align-items:center; gap:.65rem}
.brand__logo{
  width:34px; height:34px; display:grid; place-items:center;
  background:#5fd0ff; color:#fff; border-radius:50%; font-weight:800;
}
.brand__name{font-weight:800; font-size:1.7rem; letter-spacing:.3px}
.brand__name span{color:var(--brand)}
.tagline{padding-bottom: 5rem; font-size:1.5rem; color:#ffffff; font-weight: bold;}
.right{display:grid; place-items:center; padding:2rem 1rem}
.card{
  width:min(520px, 92%);
  background:var(--panel);
  color:#fff;
  border-radius:var(--radius);
  padding:1.2rem 1.2rem 1.4rem;
  box-shadow:var(--shadow);
}
.card h1{margin:.2rem 0 1rem; text-align:center; font-size:1.3rem}
.form{display:grid; gap:.9rem}
.field{display:grid; gap:.45rem}
.label{font-weight:700; font-size:.95rem}
.input{
  height:44px; border-radius:999px; width:100%;
  border:2px solid rgba(255,255,255,.6);
  background:#f3f6fb; color:#0f172a; padding:0 1rem; outline:0;
}
.input:focus-visible{box-shadow:0 0 0 3px rgba(141,243,227,.45); border-color:var(--brand)}
.actions{display:flex; justify-content:center; margin-top:.5rem}
.btn{
  background:var(--cta); color:#fff; font-weight:800; border:none;
  padding:.8rem 1.1rem; border-radius:12px; cursor:pointer; box-shadow:var(--shadow);
}
.btn:hover{background:var(--cta-700)}
@media (max-width: 900px){
  .layout{grid-template-columns:1fr}
  .left{padding:2.2rem 1rem 0rem; height:30vh}
  .right{padding-bottom:13rem}
}